<h3>student name</h3>

<%=@student.name%>

<h3>Student's addresses</h3>

<% @address.each do |address|%>
<div>
<p><%=address.description%></p>
<p><%=address.street%></p>
<p><%=address.city%></p>
<p><%=address.state%></p>
<p><%=address.zipcode%></p>
</div>
<%end%>
